services:
  caddy:
    build:
      dockerfile_inline: |
        FROM caddy:2-builder AS builder

        RUN xcaddy build \
          --with github.com/caddy-dns/acmedns 

        FROM caddy:2

        COPY --from=builder /usr/bin/caddy /usr/bin/caddy
    ports:
      - "192.168.0.67:80:80"
      - "192.168.0.67:443:443"
      - "192.168.0.67:443:443/udp"
    networks:
      - local-caddy
    volumes:
      - /etc/local-caddy/conf:/etc/caddy:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

networks:
  local-caddy:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: local-caddy
    name: local-caddy
