services:
  caddy:
    image: caddy:latest
    ports:
      - "192.168.0.7:80:80"
      - "192.168.0.7:443:443"
      - "192.168.0.7:443:443/udp"
    volumes:
      - /etc/local-caddy/conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

