[Unit]
Description=remove unused docker resources every Sunday at 7am

[Timer]
OnCalendar=Sunday 07:00
Persistent=true

[Install]
WantedBy=timers.target