[Unit]
Description=Start Home Assistant
After=docker.service nss-lookup.target local-caddy.service # make sure that local-caddy starts first and always gets the same IP address on the internal network
Requires=docker.service nss-lookup.target local-caddy.service
# although the service is ordered after nss-lookup, it still sometimes complains about a misbehaving DNS server at localhost:53

[Service]
Type=simple
WorkingDirectory=/etc/homeassistant
# Shutdown container (if running) when unit is started
ExecStartPre=docker compose down
# Start container when unit is started
ExecStart=docker compose up --pull always
# Stop container when unit is stopped
ExecStop=docker compose down
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target