[Unit]
Description=nextcloud exporter service
After=docker.service nss-lookup.target
Requires=docker.service nss-lookup.target
# although the service is ordered after nss-lookup, it still sometimes complains about a misbehaving DNS server at localhost:53

[Service]
Type=simple
ExecStart=docker run --pull=always --env-file=/etc/prometheus-nextcloud-exporter.env -p 9205:9205 ghcr.io/xperimental/nextcloud-exporter:latest
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target